use iced::widget::text;
use iced::{Element, Theme};
use crate::{{ui_path}}::theme::palette;

pub fn label<'a, Message: 'a>(content: &'a str) -> Element<'a, Message, Theme> {
    text(content)
        .size(14.0)
        .style(|theme, _| text::Style { color: Some(palette(theme).foreground) })
        .into()
}
